<%
var images = theme.random_thumbnail;
%>

<% if (theme.libs.css.fancybox) { %>
<link rel="stylesheet" type="text/css" href="<%- url_for(theme.libs.css.fancybox) %>">
<% } else { %>
<link rel="stylesheet" type="text/css" href="<%- url_for(theme.cdn.css.fancybox) %>">
<% } %>


<main>
    <div style="height: 560px; position: relative; top: -64px; left: 0;">
        <%- partial('_partial/galleries-cover') %>
    </div>
    <div class="container">
        <div class="row">
            <% images.forEach(function(image, index) { %>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <a href="<%- url_for(image) %>" data-fancybox="gallery">
                            <img class="lazyload" src="<%- url_for(image) %>" data-src="<%- url_for(image) %>" alt="<%- image %>">
                        </a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</main>
<style>
    .card .card-image img {
        height: 156px;
    }

    .card .card-image:hover {
        box-shadow: 0 4px 6px rgba(21, 193, 241, 0.5);
    }
</style>
<% if (theme.libs.js.fancybox) { %>
<script src="<%- url_for(theme.libs.js.fancybox) %>"></script>
<% } else { %>
<script src="<%- url_for(theme.cdn.js.fancybox) %>"></script>
<% } %>
<script>
    Fancybox.bind('[data-fancybox="gallery"]', {
    // Your custom options for a specific gallery
    });

</script>