<!DOCTYPE html>
<html lang="<%= config.language %>">
    <%- partial('_partial/head') %>
<body>
    <%- partial('_partial/header') %>
    <%- body %>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/back-top') %>
    <%- partial('_partial/import_js') %>
</body>
</html>
