<main>
    <!-- 文章封面 -->
    <%- partial('_partial/post/post-cover') %>
    <div class="container has-cover-container post-container">
        <div class="row">
            <% if (theme.toc.enable && theme.toc.position === 'left') { %>
                <div class="col l3" id="toc-body">
                    <!-- 文章目录 -->
                    <%- partial('_partial/post/toc') %>
                </div>
                <div class="col s12 m12 l9" id="post-body">
                    <!-- 文章详情 -->
                    <%- partial('_partial/post/post') %>
                </div>
            <% } else if (theme.toc.enable && theme.toc.position === 'right') { %>
                <div class="col s12 m12 l9" id="post-body">
                    <!-- 文章详情 -->
                    <%- partial('_partial/post/post') %>
                </div>
                <div class="col l3" id="toc-body">
                    <!-- 文章目录 -->
                    <%- partial('_partial/post/toc') %>
                </div>
            <% } else { %>
                <div class="col s12 m12">
                    <!-- 文章详情 -->
                    <%- partial('_partial/post/post') %>
                </div>
            <% } %>
        </div>
    </div>
</main>
