<style>
    .timeline-container {
        width: 90%;
        max-width: 1170px;
        margin: 0 auto;
    }
    .timeline-container::after {
        content: '';
        display: table;
        clear: both;
    }
    #timeline {
        position: relative;
        padding: 2em 0;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    @media screen and (max-device-width:480px){
        #timeline {
            margin-top: 6em;
        }
    }
    #timeline::before {
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 6px;
        background: #d7e4ed;
    }
    .timeline-title {
        font-size: 20px;
        line-height: 24px;
        color: #333;
    }
    .timeline-content a {
        text-decoration: none;
        color: #007bff;
    }
    .timeline-info {
        height: 20px;
        width: 100%;
        margin: 10px 0px;
    }
    .timeline-info-span {
        float: right;
        margin-right: 10px;
        text-align: right;
    }
    .timeline-excerpt {
        clear: right;
    }
    @media only screen and (min-width: 1170px) {
        #timeline {
            margin-top: 3em;
            margin-bottom: 3em;
        }
        #timeline::before {
            left: 50%;
            transform: translate(-50%);
        }
    }
    .timeline-item {
        position: relative;
        margin: 2em 0;
    }
    .timeline-item:after {
        content: "";
        display: table;
        clear: both;
    }
    .timeline-item:first-child {
        margin-top: 0;
    }
    .timeline-item:last-child {
        margin-bottom: 0;
    }
    @media only screen and (min-width: 1170px) {
        .timeline-item {
            margin: 4em 0;
        }
        .timeline-item:first-child {
            margin-top: 0;
        }
        .timeline-item:last-child {
            margin-bottom: 0;
        }
    }
    .timeline-date {
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 60px;
        /* background: #007bff; */
        /* background: #FF9F55; */
        background-color: white;
        border: 4px solid #1a237e;
        /* color: white; */
        color: #1a237e;
        text-align: center;
        line-height: 60px;
        font-size: 16px;
        font-weight: bold;
        /* box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75); */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    @media only screen and (min-width: 1170px) {
        .timeline-date {
            width: 120px;
            height: 60px;
            left: 50%;
            transform: translate(-50%);
            -webkit-transform: translate(-50%);
        }
        .cssanimations .timeline-date.is-hidden {
            visibility: hidden;
        }
        .cssanimations .timeline-date.bounce-in {
            visibility: visible;
            -webkit-animation: md-bounce-1 0.6s;
            -moz-animation: md-bounce-1 0.6s;
            animation: md-bounce-1 0.6s;
        }
    }
    @-webkit-keyframes md-bounce-1 {
        0% {
            opacity: 0;
            -webkit-transform: scale(0.5);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale(1.2);
        }
        100% {
            -webkit-transform: scale(1);
        }
    }
    @-moz-keyframes md-bounce-1 {
        0% {
            opacity: 0;
            -moz-transform: scale(0.5);
        }
        60% {
            opacity: 1;
            -moz-transform: scale(1.2);
        }
        100% {
            -moz-transform: scale(1);
        }
    }
    @keyframes md-bounce-1 {
        0% {
            opacity: 0;
            -webkit-transform: scale(0.5);
            -moz-transform: scale(0.5);
            -ms-transform: scale(0.5);
            -o-transform: scale(0.5);
            transform: scale(0.5);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);
        }
        100% {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
    }
    .timeline-content {
        position: relative;
        background: white;
        padding: 1em;
        /* box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75); */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    .timeline-content:after {
        content: "";
        display: table;
        clear: both;
    }
    .timeline-content h2 {
        color: #303e49;
    }
    .timeline-content p, .timeline-content .md-read-more, .timeline-content .xx-date {
        font-size: 13px;
        font-size: 0.8125rem;
    }
    .timeline-content .md-read-more, .timeline-content .xx-date {
        display: inline-block;
    }
    .timeline-content p {
        margin: 1em 0;
        line-height: 1.6;
    }
    .timeline-content .md-read-more {
        float: right;
        padding: .8em 1em;
        background: #acb7c0;
        color: white;
        /* border-radius: 0.25em; */
    }
    .xx-date {
        color: #1a237e;
        text-align: center;
        white-space: nowrap;
    }
    .no-touch .timeline-content .md-read-more:hover {
        background-color: #bac4cb;
    }
    .timeline-content::before {
        content: '';
        position: absolute;
        top: 24px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid white;
    }
    @media only screen and (min-width: 768px) {
        .timeline-content h2 {
            font-size: 20px;
            font-size: 1.25rem;
        }
        .timeline-content p {
            font-size: 16px;
            font-size: 1rem;
        }
        .timeline-content .md-read-more {
            font-size: 14px;
            font-size: 0.875rem;
        }
    }
    @media only screen and (min-width: 1170px) {
        .xx-date {
            text-align: center;
            line-height: 52px;
        }
        .timeline-content {
            padding: 1.6em;
            width: 45%;
        }
        .timeline-content::before {
            top: 24px;
            left: 100%;
            border-color: transparent;
            border-left: 7px solid white;
        }
        .timeline-content .md-read-more {
            float: left;
        }
        .timeline-item:nth-child(odd) .timeline-content {
            transform: translate(-40px);
            /* margin-left: -40px; */
        }
        .timeline-item:nth-child(even) .timeline-content {
            float: right;
            transform: translate(40px);
            /* margin-right: -40px; */
        }
        .timeline-item:nth-child(even) .timeline-content::before {
            top: 24px;
            left: auto;
            right: 100%;
            border-color: transparent;
            border-right: 7px solid white;
        }
        .timeline-item:nth-child(even) .timeline-content .md-read-more {
            float: right;
        }
        .cssanimations .timeline-content.is-hidden {
            visibility: hidden;
        }
        .cssanimations .timeline-content.bounce-in {
            visibility: visible;
            -webkit-animation: md-bounce-2 0.6s;
            -moz-animation: md-bounce-2 0.6s;
            animation: md-bounce-2 0.6s;
        }
    }
    @media only screen and (min-width: 1170px) {
        /* inverse bounce effect on even content blocks */
        .cssanimations .timeline-item:nth-child(even) .timeline-content.bounce-in {
            -webkit-animation: md-bounce-2-inverse 0.6s;
            -moz-animation: md-bounce-2-inverse 0.6s;
            animation: md-bounce-2-inverse 0.6s;
        }
    }
    @-webkit-keyframes md-bounce-2 {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-100px);
        }
        60% {
            opacity: 1;
            -webkit-transform: translateX(20px);
        }
        100% {
            -webkit-transform: translateX(0);
        }
    }
    @-moz-keyframes md-bounce-2 {
        0% {
            opacity: 0;
            -moz-transform: translateX(-100px);
        }
        60% {
            opacity: 1;
            -moz-transform: translateX(20px);
        }
        100% {
            -moz-transform: translateX(0);
        }
    }
    @keyframes md-bounce-2 {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-100px);
            -moz-transform: translateX(-100px);
            -ms-transform: translateX(-100px);
            -o-transform: translateX(-100px);
            transform: translateX(-100px);
        }
        60% {
            opacity: 1;
            -webkit-transform: translateX(20px);
            -moz-transform: translateX(20px);
            -ms-transform: translateX(20px);
            -o-transform: translateX(20px);
            transform: translateX(20px);
        }
        100% {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @-webkit-keyframes md-bounce-2-inverse {
        0% {
            opacity: 0;
            -webkit-transform: translateX(100px);
        }
        60% {
            opacity: 1;
            -webkit-transform: translateX(-20px);
        }
        100% {
            -webkit-transform: translateX(0);
        }
    }
    @-moz-keyframes md-bounce-2-inverse {
        0% {
            opacity: 0;
            -moz-transform: translateX(100px);
        }
        60% {
            opacity: 1;
            -moz-transform: translateX(-20px);
        }
        100% {
            -moz-transform: translateX(0);
        }
    }
    @keyframes md-bounce-2-inverse {
        0% {
            opacity: 0;
            -webkit-transform: translateX(100px);
            -moz-transform: translateX(100px);
            -ms-transform: translateX(100px);
            -o-transform: translateX(100px);
            transform: translateX(100px);
        }
        60% {
            opacity: 1;
            -webkit-transform: translateX(-20px);
            -moz-transform: translateX(-20px);
            -ms-transform: translateX(-20px);
            -o-transform: translateX(-20px);
            transform: translateX(-20px);
        }
        100% {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }
    }
</style>
<main>
    <div style="height: 400px; position: relative; top: -64px; left: 0;">
        <%- partial('_partial/banner') %>
    </div>
    <section id="timeline" class="timeline-container">
        <% if (site.posts.length) { -%>
            <% site.posts.sort('date', -1).limit(site.posts.length).each(function(post){ %>
            <div class="timeline-item">
                <div class="timeline-date">
                    <div class="xx-date"><%= date(post.date, 'YYYY-MM-DD ') %></div>
                </div>
                <div class="timeline-content">
                    <div class="timeline-title"><a href="<%- url_for(post.path) %>"><%= post.title %></a></div>
                <div class="timeline-info">
                    <span class="timeline-info-span">Categories:
                        <%- list_categories(post.categories, {
                            show_count: false, 
                            style: 'none'
                        }) %>
                    </span>
                    <span class="timeline-info-span">Tags:
                        <%- list_tags(post.tags, {
                            show_count: false,
                            style: 'none'
                        }) %>
                    </span>
                    
                </div>
                <p class="timeline-excerpt">
                    <% if(post.excerpt) { %>
                        <%- strip_html(post.excerpt) %>
                    <% }else{ %>
                        <%- strip_html(truncate(post.content,{length: 100 })) %>
                    <% } %>...
                </p>
                </div>
            </div>	
    <% }) %>	   	  		
<% } -%>
    </section>
</main>
<!-- <script>
    $(function() {
        if( ($('#bottom').offset().top + $('#bottom').outerHeight() ) < $(window).height() ) {
            var footerBottom = $(window).height() - $('#bottom').outerHeight() - $('#bottom').offset().top;
            $('#bottom').css('bottom', '-' + footerBottom + 'px');
        }
    });
</script> -->
