<header class="navbar-fixed">
    <!-- <nav class="nav-extended pushpin"> -->
    <nav class="nav-color nav-transparent" id="nav-header" color-on-scroll="100">
        <div class="container">
            <div class="nav-wrapper">
                <a class="brand-logo waves-effect waves-light" href="/">
                    <% if (theme.logo.circle) { %>
                    <img src="<%- url_for(theme.logo.url) %>" class="circle logo-img lazyload" data-src="<%- url_for(theme.logo.url) %>" alt="logo">
                    <% } else { %>
                    <img src="<%- url_for(theme.logo.url) %>" class="logo-img lazyload" data-src="<%- url_for(theme.logo.url) %>" alt="LOGO">
                    <% } %>
                    <span class="logo-span"><%= config.title %></span>
                </a>
                <%- partial('_partial/navigation') %>
            </div>
        </div>
    </nav>
</header>
<%- partial('_partial/sidenav') %>
