<%
    // 翻译
    let title = __(page.title);

    let page_tag_list = [];
    let postTags = '';
    if (is_post()) {
        page.tags.forEach(function(tag) {
            page_tag_list.push(tag.name);
        })
        postTags = page_tag_list.join(', ');
    }

    // keywords
    let keywords = config.keywords ? config.keywords : config.title;
    if (page.keywords) {
        keywords = page.keywords;
    } else if (postTags) {
        // 将文章标签也加入关键词中
        keywords = title ? title  + ', ' + postTags + ', ' + keywords : postTags + ', ' + keywords;
    } else {
        keywords = title ? title  + ', ' + keywords : keywords;
    }

    if (is_archive()) {
        title = __('archives');
        if (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = __('category') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('tag') + ': ' + page.tag;
    }

    let pageTitle = title ? title + ' | ' + config.title : config.title;

    // description.
    let description = null;
    if (page.summary) {
        description = page.summary;
    } else if (page.hasOwnProperty('__post') && page.__post) {
        description = strip_html(page.content).substring(0, 120);
    }
    description = description ? description : pageTitle;

    let iconType = 'image/png'
    let faviconExt = theme.favicon.substr(theme.favicon.lastIndexOf('.') + 1, theme.favicon.length)
    if (faviconExt === 'png') {
        iconType = 'image/png'
    } else if (faviconExt === 'svg') {
        iconType = 'image/svg+xml'
    } else if (faviconExt === 'gif') {
        iconType = 'image/gif'
    } else if (faviconExt === 'jpeg') {
        iconType = 'image/jpeg'
    } else if (faviconExt === 'jpg') {
        iconType = 'image/jpeg'
    } else if (faviconExt === 'ico') {
        iconType = 'image/x-icon, image/vnd.microsoft.icon'
    }
%>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit|ie-stand|ie-comp">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="description" content="<%= description %>">
    <link rel="stylesheet" type="text/css" href="<%- url_for(theme.libs.css.materialize) %>">
    <link rel="stylesheet" type="text/css" href="<%- url_for(theme.libs.css.animate) %>">
    <% if (config.prismjs && config.prismjs.enable) { %>
    <!-- 是否加载使用自带的 prismjs. -->
    <link rel="stylesheet" href="<%- url_for(theme.libs.css.prism) %>">
    <link rel="stylesheet" type="text/css" href="<%- url_for('/libs/prism/prism-line-numbers.css') %>">
    <% } %>
    
    <!-- Material Icons -->
    <link rel="stylesheet" type="text/css" href="<%- url_for(theme.libs.css.material_icons) %>">
    
    <!-- Fontawesome Icons -->
    <link rel="stylesheet" type="text/css" href="<%- url_for(theme.libs.css.fontawesome) %>">
    <!-- aos -->
    <link rel="stylesheet" type="text/css" href="<%- url_for(theme.libs.css.aos) %>">
    <!-- The theme css -->
    <link rel="stylesheet" type="text/css" href="<%- url_for(theme.libs.css.xxcoding) %>">

    <% if (theme.libs.css.mycss) { %>
    <!-- Your css -->
    <link rel="stylesheet" type="text/css" href="<%- url_for(theme.libs.css.mycss) %>">
    <% } %>
    <!-- <% if (theme.libs.css) { %>
        <% for (var libcss in theme.libs.css) { %>
            <% if (theme.libs.css[libcss]) { %>
                <link rel="stylesheet" type="text/css" href="<%- theme.libs.css[libcss] %>">
            <% } %>
        <% } %>
    <% } %> -->
    <!-- <% for (var fontcss in theme.libs.fontcss) { %>
    <link rel="stylesheet" type="text/css" href="<%- theme.libs.fontcss[fontcss] %>">
    <% } %> -->
    

    <!-- Custom Head -->
    <% if (site.data.head) { %>
        <% for (var i in site.data.head) { %>
            <%- site.data.head[i] %>
        <% } %>
    <% } %>

    <title><%= pageTitle %></title>
    <link rel="icon" type="<%= iconType %>" href="<%- url_for(theme.favicon) %>">
    <script src="<%- url_for(theme.libs.js.jquery) %>"></script>
</head>
