<a href="#" data-target="nav-mobile" class="sidenav-trigger">
    <i class="material-icons">menu</i>
</a>
<ul class="right hide-on-med-and-down">
    <% for (let key in theme.menu) { %>
        <% if (theme.menu[key].enable) { %>
            <li>
                <% if (theme.menu[key].children) { %>
                <% if (theme.menu[key].material_icon) { %>
                <a class="nav-item dropdown-trigger waves-effect waves-light" href="#!" data-target="dropdown-<%- key %>" style="display: flex;">
                    <i class="material-icons"><%- theme.menu[key].material_icon %></i>
                <% } else { %>
                <a class="nav-item dropdown-trigger waves-effect waves-light" href="#!" data-target="dropdown-<%- key %>">
                    <i class="<%- theme.menu[key].icon %>" style="zoom: 0.6;"></i>
                <% } %>
                    <span class="nav-menu"><%= __(titlecase(__(key))) %></span>
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
                <ul class="dropdown-content" id="dropdown-<%- key %>">
                    <% for (let submenu in theme.menu[key].children) { %>
                        <% if (theme.menu[key].children[submenu].enable) { %>
                        <li>
                            <% if (theme.menu[key].children[submenu].material_icon) { %>
                            <a href="<%- url_for(theme.menu[key].children[submenu].url) %>" style="display: flex;">
                                <i class="material-icons"><%- theme.menu[key].children[submenu].material_icon %></i>
                            <% } else { %>
                            <a href="<%- url_for(theme.menu[key].children[submenu].url) %>">
                                <i class="<%- theme.menu[key].children[submenu].icon %>"></i>
                            <% } %>
                                <span><%= titlecase(__(submenu)) %></span>
                            </a>
                        </li>
                        <% } %>
                    <% } %>
                </ul>
                <% } else { %>
                <% if (theme.menu[key].material_icon) { %>
                <a class="nav-item waves-effect waves-light" href="<%- theme.menu[key].url %>" style="display: flex;">
                    <i class="material-icons"><%- theme.menu[key].material_icon %></i>
                <% } else { %>
                <a class="nav-item waves-effect waves-light" href="<%- theme.menu[key].url %>">
                    <i class="<%- theme.menu[key].icon %>" style="zoom: 0.6;"></i>
                <% } %>
                    <span class="nav-menu"><%= titlecase(__(key)) %></span>
                </a>
                <% } %>
            </li>
        <% } %>
    <% } %>
    <li>
        <a class="nav-item modal-trigger waves-effect waves-light" href="#searchModal">
            <i class="material-icons">search</i>
            <!-- <i id="searchIcon" class="fas fa-search" title="<%= __('search') %>" style="zoom: 0.6;"></i> -->
        </a>
    </li>
</ul>
